node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

logic-components/GameLogic.js
logic-components/GameLogicTypes.js
logic-components/StateController.js

credentials.json

performance_log.txt

# macOS
.DS_Store
